name: Firebase CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # kadai6 フォルダ内で依存関係をインストール
      - name: Install dependencies
        run: npm ci
        working-directory: ./kadai6

      # kadai6 フォルダ内でビルド実行
      - name: Build Next.js
        run: |
          npm run build
<<<<<<< HEAD
          npx next export
        working-directory: ./kadai6
=======
>>>>>>> 58fa70c (fixed)

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase Hosting
        run: firebase deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

